<div class="homePage">
  <!-- Hero Section -->
  <div class="bannerImg">
    <div class="layer h-100 d-flex align-items-end">
      <div class="container">
        <div class="row py-xl-5 py-lg-5 py-md-5 py-sm-5 py-4">
          <div class="col-xl-7 col-lg-7 col-md-12">
            <div class="heroBanner">
              <h5 class="text-uppercase muted-text">Thriving for Excellence</h5>
              <h4 class="sectionText text-uppercase">New Dimension in Education</h4>
              <p class="">SBUP (BIIB, BIMM, BITM, BIMHRD) ranked as one amongst Top 11 B – Schools in the country</p>
            </div>
            <div class="row py-xl-2 py-lg-2 ">
              <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-4 col-sm-5 col-6">
                <!-- <a class="btn btn-hero text-uppercase w-100 lh-lg">Apply Now <span><i class="fa-solid fa-arrow-pointer"></i></span></a> -->
                <div class="heroBtn">
                  <a class="btn text-uppercase w-100 p-2 lh-lg">Apply Now <span><i
                        class="fa-solid fa-arrow-pointer"></i></span></a>
                  <div class="overlay">
                    <div class="icon"><i class="fa-solid fa-arrow-pointer"></i></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero Section End -->
  <!-- About Us -->
  <div class="aboutSection py-xl-4 py-lg-4 py-md-4">
    <div class="container">
      <div class="row py-xl-4 py-lg-4 py-md-4 justify-content-between">
        <div class="col-xl-5 align-self-center">
          <!--Heading-->
          <div class="row pb-xl-3 pb-lg-3 pb-md-2">
            <div class="col-12 pb-2">
              <h4 class="main-heading text-uppercase fw-bold">About Us</h4>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-4 col-sm-3">
              <hr>
            </div>
          </div>
          <p class="lh-base">Balaji Institute of International Business (BIIB), an ‘A++’ Grade’ AICTE accredited
            Business School is
            located in Pune. Established in 2003, under the aegis of Sri Balaji University, Pune, we are one of the
            fastest-growing International Business Schools in India.</p>
        </div>
        <div class="col-xl-5">
          <div class="aboutImg position-relative">
            <img src="./../../../../assets/imgs/homeImages/homeAbout.png" class="w-100 outerImg">
            <div class="layerSection">
            </div>
            <div class="upperImg">
              <img src="./../../../../assets/imgs/homeImages/homeAbout.png" class="w-50 h-100">
            </div>
            <div class="bottomImg">
              <img src="./../../../../assets/imgs/homeImages/homeAbout.png" class="w-50 h-100">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About Us END -->

  <!-- Thriving for Excellence -->
  <div class="thrivingSection py-xl-4 py-lg-4 py-md-4">
    <div class="container">
      <div class="row">
        <div class="row pb-xl-3 pb-lg-3 pb-md-2 justify-content-center">
          <div class="col-12 pb-2 text-center">
            <h4 class="main-heading text-uppercase fw-bold">Thriving for Excellence</h4>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3">
            <hr>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 my-3">
          <div class="card text-center py-4">
            <div class="card-body py-0">
              <i class="fa-solid fa-medal mb-2"></i>
              <h5 class="card-title text-uppercase thrivingHeading my-2 fw-bold">Top 11</h5>
              <hr class="thrivingHR">
            </div>
            <div class="card-footer border-0 bg-transparent">
              <p class="card-text content my-3 lh-base">BIIB among top 11 B-schools in<br>India</p>
              <p class="card-text description lh-base">Source : Times Of India B-School Survey (Feb-2021)</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 my-3">
          <div class="card text-center py-4">
            <div class="card-body py-0">
              <i class="fa-solid fa-medal mb-2"></i>
              <h5 class="card-title text-uppercase thrivingHeading my-2 fw-bold">top 3</h5>
              <hr class="thrivingHR">
            </div>
            <div class="card-footer border-0 bg-transparent">
              <p class="card-text content my-3 lh-base">SBUP top 3 Private Universities in <br>India</p>
              <p class="card-text description lh-base">Source : Times Of India B-School Survey (Feb-2021)</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 my-3">
          <div class="card text-center py-4">
            <div class="card-body py-0">
              <i class="fa-solid fa-medal mb-2"></i>
              <h5 class="card-title text-uppercase thrivingHeading my-2 fw-bold">top 2</h5>
              <hr class="thrivingHR">
            </div>
            <div class="card-footer border-0 bg-transparent">
              <p class="card-text content my-3 lh-base">BIIB among top 2 B-Schools in <br>Pune</p>
              <p class="card-text description lh-base">Source : Times Of India B-School Survey (Feb-2021)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Thriving for Excellence END -->

  <!-- KPI Section -->
  <div class="position-relative">
    <div class="kpiSVG"></div>
    <div class="KPI-section">
      <div class="row m-0">
        <div class="col-xl-6 col-lg-6 col-md-6 bg-dark px-0">
          <div class="kpiForm py-xl-4">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-10 py-xl-5 py-lg-5 py-md-4">
                  <div class="row pb-xl-3 pb-lg-3 pb-md-2 justify-content-center">
                    <div class="col-12 pb-2 text-center">
                      <h4 class="main-heading text-uppercase fw-bold text-white lh-sm">Choose Your Course</h4>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-4 col-sm-3">
                      <hr class="bg-light w-75 m-auto">
                    </div>
                  </div>
                  <form>
                    <div class="row py-xl-4 py-lg-4">
                      <div class="col-xl-6 my-2">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control text-white rounded-0 bg-transparent" id="floatingInput"
                            placeholder="Enter Name">
                          <label for="floatingInput" class="text-white">Name</label>
                        </div>
                      </div>
                      <div class="col-xl-6 my-2">
                        <div class="form-floating mb-3">
                          <input type="email" class="form-control text-white rounded-0 bg-transparent"
                            id="floatingInput" placeholder="name@example.com">
                          <label for="floatingInput" class="text-white">Email</label>
                        </div>
                      </div>
                      <div class="col-xl-6 my-2">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control text-white rounded-0 bg-transparent" id="floatingInput"
                            placeholder="Enter Phone Number">
                          <label for="floatingInput" class="text-white">Phone</label>
                        </div>
                      </div>
                      <div class="col-xl-6 my-2">
                        <div class="form-floating mb-3">
                          <input type="date" class="form-control text-white rounded-0 bg-transparent" id="floatingInput"
                            placeholder="DOB">
                          <label for="floatingInput" class="text-white">Date of birth</label>
                        </div>
                      </div>
                      <div class="col-xl-12 my-2">
                        <div class="form-floating">
                          <select class="form-select text-white rounded-0 bg-transparent" id="floatingSelect"
                            aria-label="Floating label select example">
                            <option class="text-dark" selected>Select</option>
                            <option class="text-dark" value="1">One</option>
                            <option class="text-dark" value="2">Two</option>
                            <option class="text-dark" value="3">Three</option>
                          </select>
                          <label for="floatingSelect" class="text-white">Choose course</label>
                        </div>
                      </div>
                    </div>
                    <div class="row justify-content-center">
                      <div class="col-xxl-4 col-xl-4 col-lg-4 text-center">
                        <button class="btn btn-kpi btn-lg rounded-0 border-0 text-uppercase py-3 fs-5">Submit <i
                            class="fa-solid fa-arrow-pointer ms-2"></i></button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 px-0">
          <div class="kpiBlog">
            <div class="counter">
              <div class="container">
                <div class="row flex-wrap mx-xl-5 mx-lg-4 mx-md-4 mx-sm-3 p-xl-5 p-lg-4 p-md-4" >
                  <div class="column border-end border-bottom border-white">
                    <div class="info text-center py-xxl-5 py-xl-4 py-lg-4 py-md-4 py-sm-4 py-3">
                      <span><i class="fas fa-book text-white mb-2"></i></span>
                      <h4 class="fw-bold text-white lh-base">100%</h4>
                      <p class="text-uppercase text-white lh-base">PLACEMENT</p>
                    </div>
                  </div>
                  <div class="column border-bottom border-white">
                    <div class="info text-center py-xxl-5 py-xl-4 py-lg-4 py-md-4 py-sm-4 py-3">
                      <span><i class="fas fa-search text-white mb-2"></i></span>
                      <h4 class="fw-bold text-white lh-base">76+</h4>
                      <p class="text-uppercase text-white lh-base">RESEARCH</p>
                    </div>
                  </div>
                  <div class="column border-end border-white">
                    <div class="info text-center py-xxl-5 py-xl-4 py-lg-4 py-md-4 py-sm-4 py-3">
                      <span><i class="fas fa-sack-dollar mb-2 text-white"></i></span>
                      <h4 class="fw-bold text-white lh-base">18.50 L</h4>
                      <p class="text-uppercase text-white lh-base">HIGHEST PACKAGE</p>
                    </div>
                  </div>
                  <div class="column  border-white">
                    <div class="info text-center py-xxl-5 py-xl-4 py-lg-4 py-md-4 py-sm-4 py-3">
                      <span><i class="fas fa-graduation-cap mb-2 text-white"></i></span>
                      <h4 class="fw-bold text-white lh-base">16K +</h4>
                      <p class="text-uppercase text-white lh-base">ALUMNI</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- KPI Section END -->

  <!-- Why BIIB Section -->
  <div class="whyBIIB">
    <div class="container">
      <div class="row pt-xl-4 ">
        <div class="col-xl-8 order-xl-1 order-2">
          <div class="row py-xl-4">
            <div class="col-xl-6 col-lg-6 col-md-6 my-3" *ngFor="let item of allHomeData?.Feature; index as i;">
              <div class="card text-center shadow">
                <div class="card-body py-xl-5 py-lg-5">
                  <i class="fas fa-save mb-2"></i>
                  <h5 class="card-title text-uppercase WhyHeading my-2 fw-bold lh-base">{{item?.title}}</h5>
                  <hr class="whyHR pb-xl-2 pb-lg-2">
                  <p class="card-text description py-2">Our curriculum is worked to suit not just the domestic market,
                    but the time frame, where competition is lateral and winning is no longer within bounds and
                    challenges are moving towards infinity.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 order-xl-2 order-1 align-self-end">
          <!--Heading-->
          <div class="row pb-xl-3 pb-lg-3 pb-md-2 justify-content-center">
            <div class="col-12 pb-2 text-center">
              <h4 class="main-heading text-uppercase fw-bold">Why Choose BIIB ?</h4>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-4 col-sm-3">
              <hr>
            </div>
          </div>
          <div class="row d-xl-block d-none">
            <div class="col">
              <img src="./../../../../assets/imgs/homeImages/whyBIIB.png" class="w-100">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Why BIIB Section End -->

  <!-- Query Form Section -->
  <div class="querySection py-xl-5 py-lg-5 py-md-4 py-sm-4 py-4">
    <div class="wrapperLeft"></div>
    <div class="wrapperRight"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-12 text-center" *ngFor="let item of allHomeData?.Contact;index as i;">
          <p class="question lh-base">{{item?.name}}</p>
          <h4 class="fw-bold lh-base mb-2" [innerHtml]="item?.message"></h4>
          <p class="text-uppercase or lh-base mb-2">or</p>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 text-center mt-2">
          <a href="tel:(020) 6674 1235" class="btn btn-contact text-uppercase w-100 lh-lg">click here <i
              class="fas fa-chevron-right ms-2"></i></a>
        </div>
      </div>
    </div>
  </div>
  <!-- Query Form Section End -->

  <!-- Our Courses Section -->
  <div class="courses py-xl-4 py-lg-4">
    <div class="container">
      <!--Heading-->
      <div class="row pb-xl-3 pb-lg-3 pb-md-2 justify-content-center py-xl-3">
        <div class="col-12 pb-2 text-center">
          <h4 class="main-heading text-uppercase fw-bold">OUR Courses</h4>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-3">
          <hr class="w-75 m-auto">
        </div>
      </div>
      <div class="row py-xl-4 pb-xl-5">
        <div class="col-xl-3 col-lg-3 col-md-6 my-2" *ngFor="let course of allHomeData?.Course; index as i;">
          <div class="card shadow p-3 rounded">
            <div class="coursesImg position-relative">
              <img [src]="imgPath + course?.featured_image" class="card-img-top rounded-top"
                alt="newsImg">
              <div class="seats">
                <div class="row justify-content-center">
                  <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-5 col-sm-4 col-5">
                    <p class="text-uppercase mb-0 text-white text-center">
                      <i class="fas fa-user-friends text-white me-1"></i> {{course?.seats}} Seats
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body px-0">
              <h5
                class="card-title courseTitle text-uppercase lh-base text-xl-start text-lg-start text-md-start text-sm-start text-center">
                {{course?.title}}</h5>
              <p class="lh-base text-xl-start text-lg-start text-md-start text-sm-start text-center">{{course?.info}}</p>
            </div>
            <div
              class="card-footer border-0 bg-transparent pb-0 px-0 text-xl-start text-lg-start text-md-start text-sm-start text-center">
              <div class="btn-group me-2" role="group" aria-label="Second group">
                <a class="btn btn-course btn-lg text-uppercase lh-md">read more<i
                    class="fas fa-chevron-right ms-2"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Our Courses Section End -->

  <!-- Testimonial Section -->
  <div class="testimonial">
    <div class="row m-0">
      <div class="col-xl-5 col-lg-5 col-md-4 px-xl-0 px-lg-0 d-none d-lg-block">
        <div class="testimonialLeft">
          <img src="./../../../../assets/imgs/homeImages/testimonials1.png" alt="testimonial">
        </div>
      </div>
      <div class="col-xl-7 col-lg-7 col-md-12 px-xl-0 px-lg-0">
        <div class="testimonialRight">
          <img src="./../../../../assets/imgs/homeImages/testimonials2.png" alt="testimonial">
          <div class="contentdiv container">
            <div class="row">
              <div class="col-xl-10 col-lg-11 col-md-12">
                <div class="card">
                  <div class="card-body">
                    <ngx-slick-carousel class="carousel testimonialCarousel mb-0" #slickModal="slick-carousel"
                      [config]="testimonialConfig">
                      <div ngxSlickItem *ngFor="let item of allHomeData?.Testimonial" class="slide">
                        <div class="card-heading mb-xl-3 mb-lg-3">
                          <p class="text-uppercase mb-0">testimonials</p>
                          <h3 class="text-uppercase fw-bold lh-base">{{item?.title}}</h3>
                          <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3">
                              <hr class="">
                            </div>
                          </div>
                        </div>
                        <div class="card-description">
                          <p class="lh-base" [innerHtml]="item?.content"></p>
                        </div>
                        <div class="studentInfo">
                          <div class="description d-flex align-self-center">
                            <img src="./../../../../assets/imgs/homeImages/quaotes.png" alt="quotes" class="">
                            <div class="user d-flex flex-column ms-2 align-self-center">
                              <p class="mb-0 text-uppercase">{{item?.name}}</p>
                              <span>Batch of {{item?.batch_year}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ngx-slick-carousel>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Testimonial Section End -->

  <!-- Our News Section -->
  <div class="news py-xl-4 py-lg-4 py-md-4 py-sm-4 py-3">
    <div class="container">
      <!--Heading-->
      <div class="row pb-xl-3 pb-lg-3 pb-2 justify-content-center py-xl-3 py-lg-3 py-md-3 py-sm-3 py-2">
        <div class="col-12 pb-2 text-center">
          <h4 class="main-heading text-uppercase fw-bold">OUR NEWS</h4>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
          <hr class="w-75 m-auto">
        </div>
      </div>
      <div class="row py-xl-4 py-lg-4 py-md-4 py-sm-4 py-3">
        <div class="col-xl-4 col-lg-4 col-md-6 my-2 my-2" *ngFor="let item of allHomeData?.News; index as i;">
          <div class="card shadow">
            <div class="newImg position-relative">
              <img [src]="imgPath + item?.featured_image" class="card-img-top" alt="newsImg">
              <div class="calender">
                <div class="row m-0 p-1">
                  <div class="col-xxl-4 col-xl-4 col-lg-5">
                    <p class="text-uppercase mb-0 text-white">
                      <i class="fas fa-user me-2 text-white"></i> {{item?.issued_by}}
                    </p>
                  </div>
                  <div class="col-xxl-4 col-xl-5 col-lg-6">
                    <p class="text-uppercase mb-0 text-white">
                      <i class="fas fa-calendar-alt text-white me-2"></i> {{item?.published_at }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title newsTitle text-uppercase lh-base">{{item?.title}}</h5>
            </div>
            <div class="card-footer border-0 bg-transparent pb-3">
              <div class="btn-group me-2" role="group" aria-label="Second group">
                <a class="btn btn-news btn-lg text-uppercase lh-md">read more<i
                    class="fas fa-chevron-right ms-2"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center py-xl-3">
        <div class="col-xl-4 text-center">
          <div class="btn-group me-2" role="group" aria-label="Second group">
            <a class="btn btn-news btn-blogs btn-lg text-uppercase lh-lg">read all blogs<i
                class="fas fa-chevron-right ms-2"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Our News Section End -->

  <!-- Top Brass Section -->
  <div class="topBrass py-xl-5 py-lg-5 py-lg-4 py-md-4 py-sm-4 py-4">
    <div class="container">
      <div class="row pb-4 justify-content-center">
        <div class="col-12 pb-2 text-center">
          <h6 class="main-heading text-capitalize text-uppercase fw-bold">TOP BRASS</h6>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4">
          <hr class="m-auto">
        </div>
      </div>
      <div class="row">
        <div class="col-12 px-0 pb-md-4 pb-sm-4 pb-4"> 
            <ngx-slick-carousel class="carousel topBrassCarousel my-xl-5 mb-lg-4 mb-md-4 mb-sm-4 mb-4" #slickModal="slick-carousel"
              [config]="leadershipConfig">
              <div ngxSlickItem *ngFor="let item of allHomeData?.leadership; index as i;" class="slide px-2">
                <div class="card feature_banner">
                  <img class="card-img-top" [src]="imgPath + item?.featured_image" alt="Card image cap">
                  <div class="card-footer text-center border-0">
                    <p class="fs-6 text-white lh-base mb-0">{{item?.name}}</p>
                  </div>
                  <div class="featured_hide">
                    <div class="row pb-2 justify-content-center">
                      <div class="col-12 pb-2 text-center">
                        <h6 class="text-capitalize fw-bold">{{item?.name}}</h6>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-4 col-sm-3">
                        <hr class="bg-light m-auto">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 text-center">
                        <p class="text-white pt-xl-3 pt-lg-3 pt-md-2 pt-sm-2 pt-1">{{item?.description}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ngx-slick-carousel>
        </div>
      </div>
    </div>
  </div>
  <!-- Top Brass Section End -->

  <!-- Campus Gallery Section -->
  <div class="campusGallery">
    <div class="container">
      <!--Heading-->
      <div class="row justify-content-center my-xl-5 my-lg-5 my-md-4 my-sm-4 my-3">
        <div class="col-12 pb-2 text-center">
          <h4 class="main-heading text-uppercase fw-bold">CAMPUS GALLERY</h4>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-3">
          <hr class="w-75 m-auto">
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12">
          <div class="gal">
            <ng-container *ngFor="let gal of campusGallery;index as i;">
              <img [src]="gal?.url" alt="campus Img">
            </ng-container>
          </div>
        </div>
      </div>
      <div class="row justify-content-center py-xl-5 py-lg-5 py-md-5">
        <div class="col-xl-4 text-center">
          <div class="btn-group me-2" role="group" aria-label="Second group">
            <a class="btn btn-news btn-blogs btn-lg text-uppercase lh-lg">load more<i
                class="fas fa-chevron-right ms-2"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Campus Gallery Section End -->

  <!-- Partner Logo -->
  <div class="partnerLog py-xl-5 py-lg-5 py-md-5 py-sm-4 py-4">
    <div class="container">
      <div class="row">
        <div class="col-12 px-0">
          <ngx-slick-carousel class="carousel mb-xl-0 mb-lg-0 mb-md-0 mb-sm-2 mb-5 partnerLogo"
            #slickModal="slick-carousel" [config]="partnerConfig">
            <div ngxSlickItem *ngFor="let item of allHomeData?.Recruiter" class="slide px-2">
              <img class="card-img-top" [src]="imgPath + item?.featured_image" alt="logo">
            </div>
          </ngx-slick-carousel>
        </div>
      </div>
    </div>
  </div>
  <!-- Partner Logo End-->
</div>