<div class="container-fluid">
    <div class="row my-xl-4 my-lg-4 my-md-4 my-sm-3 my-2">
      <div class="col-xl-3 col-lg-3 col-md-4">
        <div class="">
          <ul class="list-group rounded-0">
            <li class="list-group-item" routerLinkActive="active-link" routerLink="/alumni/success-stories">Success Stories</li>
            <li class="list-group-item" routerLinkActive="active-link" routerLink="/alumni/alumni-meet">Alumni Meet</li>
            <li class="list-group-item" routerLinkActive="active-link" routerLink="/alumni/transcript-application">Transcript Application</li>
            <li class="list-group-item" routerLinkActive="active-link" routerLink="/alumni/online-grievance">Online Grievance Redressal</li>
            <li class="list-group-item" routerLinkActive="active-link" routerLink="/alumni/social-media">Social Media</li>
          </ul>
        </div>
      </div>
      <div class="col-xl-9 col-lg-9 col-md-8 col-sm-7 my-3">
        <router-outlet></router-outlet>
      </div>
  </div>
</div>