<div class="container">
    <div class="row">
        <div class="col-12"><span class="fw-bold fs-4 mb-2">WHY BIIB</span></div>
        <div class="col-12">
            <p>BIIB - Balaji Institute of International Business has always been a launch pad for new ideas and innovative solutions. BIIB is the place where curious minds blend to make a difference. Our goal is to expand our boundaries by creating new pathways for knowledge and empowering the world with enlightened people. Balaji Institute of International Business (BIIB), is an ‘A++’ Grade’ AICTE accredited Business School with an outstanding placement record. Established in 2003, we are the fastest-growing B-Schools in India. Our most advanced training and scientific grooming have resulted in a rich corporate career for thousands of students pursuing successful corporate careers globally.</p>
        </div>
    </div>
</div>