<div class="container-fluid">
    <div class="row my-xl-4 my-lg-4 my-md-4 my-sm-3 my-2">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
        <div class="">
          <ul class="list-group rounded-0">
            <li class="list-group-item" routerLinkActive="active-link" routerLink="/industry-program/guest-lectures">Guest Lectures</li>
            <li class="list-group-item" routerLinkActive="active-link" routerLink="/industry-program/leadership-training">Leadership Training</li>
            <li class="list-group-item" routerLinkActive="active-link" routerLink="/industry-program/national-business-training">National Business Convention</li>
            <li class="list-group-item" routerLinkActive="active-link" routerLink="/industry-program/special-guest-visit">Special Guest Visit</li>
            <li class="list-group-item" routerLinkActive="active-link" routerLink="/industry-program/internship">Internship</li>
          </ul>
        </div>
      </div>
      <div class="col-xl-9 col-lg-9 col-md-8 col-sm-7 my-3">
        <router-outlet></router-outlet>
      </div>
  </div>
</div>