@import "theme/variables.css";
   
body {
  font-family: Oswald !important;
  font-weight: normal !important;
  letter-spacing: 1px !important;
}
:root {
  --primary-color: #fff;
  --background-color: #e5e5e5;
  --text-color: #2d2d2d;
  --text-color-white: #fff;
  --text-color-dark: #2d2d2d;
}
::selection {
  color: var(--primary-orange);
  background-color: var(--primary-blue);
}

.btn-5 {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
} 

.btn-5:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}

.main-heading {
    font-size: var(--font-48) !important;
    color: var(--primary-blue);
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

app-home {
  .topBrassCarousel {
    .slick-dots{
      bottom: -50px;

      li {
        height: 8px;
        width: 40px;
        border-radius: 10px;
        background-color: var(--primary-blue);
        button {
          height: 8px;
          width: 40px;
        }
        button::before{
          height: 8px;
          width: 40px;
          color: transparent;
        }
      }
    }
    .slick-dots li.slick-active button:before {
      background-color: var(--primary-orange);
      border-radius: 10px;
      opacity: 1;
    }
  }

  .testimonialCarousel {
    .slick-dots {
      bottom: 15px !important;
      display: flex !important;
      justify-content: end !important;
      li {
        button {
          width: 18px;
          height: 18px;
          background-color: var(--primary-blue);
          border-radius: 50%;
        }
        button::before {
          content: "";
          width: 18px;
          height: 18px;
          background-color: var(--primary-blue);
          border-radius: 50%;
        }
      }
    }
    .slick-dots li.slick-active button:before {
      color: transparent;
      background-color: var(--primary-orange);
      border-radius: 50%;
    }
  }

  .partnerLogo {
    .prev-slide {
      display: flex;
      align-items: center;
      position: absolute;
      top: calc(100% - 60%);
      left: calc(100% - 102%);
      i {
        font-size: 22px;
        color: var(--primary-blue);
      }
    }
    .next-slide{
      display: flex;
      align-items: center;
      position: absolute;
      top: calc(100% - 60%);
      right: calc(100% - 102%);
      i {
        font-size: 22px;
        color: var(--primary-blue);
      }
    }
  }
}

@media screen and (min-width: 300px) and (max-width: 574px) {
  app-home {
    .partnerLogo {
      .prev-slide {
        top: unset;
        display: flex;
        align-items: center;
        position: absolute;
        bottom: calc(100% - 134%);
        left: calc(100% - 56%);
        justify-content: center;
        i {
          font-size: 22px;
          color: var(--primary-blue);
        }
      }
      .next-slide{
        top: unset;
        display: flex;
        align-items: center;
        position: absolute;
        bottom: calc(100% - 134%);
        right: calc(100% - 56%);
        justify-content: center;
        i {
          font-size: 22px;
          color: var(--primary-blue);
        }
      }
    }
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
